<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <!-- Required only if your app needs to access videos
     that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VSIYP"

        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.vsiyp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mediapick.activity.MediaPickActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mediaeditor.audio.activity.AudioPickActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mediapick.activity.PicturePickActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mediaeditor.cover.CoverImageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mediaeditor.VideoClipsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <activity
            android:name=".ui.mediaexport.VideoExportActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.mediaeditor.blockface.cropimage.CropImageActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.mediaeditor.crop.CropNewActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mediaeditor.filter.aifilter.activity.CreateFilterActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.template.module.activity.TemplateDetailActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.template.module.activity.TemplateEditActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.template.module.activity.VideoModuleDetailActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mediaeditor.ai.ViewFileActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.mediaeditor.ai.ObjectSegActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"/>

    </application>

</manifest>